*{
	margin: 0 auto;
}
.titulo h1{
	margin-bottom: 40px;
	color: #b3b3b3;
	text-align: left;

}

.form-group p{
	color: orange;
	font-weight: bold;
}

.plano{
	font-size: 15px;
	padding-top: 7px;
	font-weight: bold;
	color: #b3b3b3;
}

.plano1{
	font-size: 15px;
	padding-top: 7px;
	font-weight: bold;
	color: #00b33c;
}

.plano2{
	font-size: 15px;
	padding-top: 7px;
	font-weight: bold;
	color: #3366ff;
}

#pagar{
	color: blue;
	padding: 7px;
	font-size: 18px;
}
.colr{
	color: black;
}